<form class="course-form">
  <input
    type="text"
    class="form-control"
    (keyup.enter)="addTopic(topic)" #topic>
  <ul class="list-group">
    <li
      *ngFor="let topic of topics.controls"
      class="list-group-item"
      (click)="removeTopic(topic)">
      {{ topic.value }}
    </li>
  </ul>
</form>
