<div class="container">
    <section>
        <h2 class="section__title">Section 8: Reactive Forms</h2>
        <ol>
            <li *ngFor="let list of lists">{{ list | titleCase }}</li>
        </ol>
    </section>

    <section>
        <h3>Signup Form</h3>
        <signup-form></signup-form>
    </section>

    <section>
        <h3>New Course Form</h3>
        <new-course-form></new-course-form>
    </section>

    <section>
        <h3>Assignment 7: Change Password Form</h3>
        <change-password-form></change-password-form>
    </section>
</div>