<div class="container">
    <section>
        <h2 class="section__title">Section 9: Consuming HTTP Services</h2>
        <ol>
            <li *ngFor="let list of lists">{{ list | titleCase }}</li>
        </ol>
    </section>

    <section>
        <posts></posts>
    </section>

    <section>
        <h3>Assignment - Github Followers</h3>

        <github-followers></github-followers>
    </section>
</div>