.zippy {
  border: 1px solid #ececec;
  border-radius: 4px;
}
.zippy__item {
  padding: 2em 2.5em;
}
.zippy__header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.zippy__header--open {
  background: #fafafa;
}

.zippy__title {
  margin: 0;
  font-weight: bold;
}

.zippy__body {
  display: none;
}
.zippy__body--open {
  display: block;
}
