<div class="zippy">
  <div class="zippy__header zippy__item"
       (click)="toggle()"
       [class.zippy__header--open]="isOpen">
    <h3 class="zippy__title">{{title}}</h3>
    <span class="glyphicon"
          [ngClass]="{
            'glyphicon-chevron-up': isOpen,
            'glyphicon-chevron-down': !isOpen
          }"></span>
  </div>
  <div class="zippy__body zippy__item"
       [class.zippy__body--open]="isOpen">
    <ng-content></ng-content>
  </div>
</div>
