.item {
    padding: 1em;
}

.item__name {
    display: inline-block;
    width: 30%;
}

.item__btn {
    display: inline-block;
}

.glyphicon {
    font-size: 3em;
    cursor: pointer;
}

.nav-pills>li {
    cursor: pointer;
}