<div class="container">
    <section>
        <h2 class="section__title">Section 6: Directives</h2>
        <p>
            In this section we gonna learn how to use directive
        </p>
        <ol>
            <li *ngFor="let list of lists">{{ list | titleCase }}</li>
        </ol>
    </section>

    <section>
        <h2>Section 6 Lecture 64: *ngIf</h2>

        <div *ngIf="courses.length > 0; then hasCourses else noCourses"></div>
        <ng-template #hasCourses>
            List of Courses.
        </ng-template>
        <ng-template #noCourses>
            There are no courses available.
        </ng-template>
    </section>

    <section>
        <h2>Section 6 Lecture 65: Hidden Property</h2>
        <p [hidden]="courses.length == 0">List of courses.</p>
        <p [hidden]="courses.length > 0">No courses yet.</p>
    </section>

    <section>
        <h2>Section 6 Lecture 66: ngSwitchCase</h2>
        <ul class="nav nav-pills">
            <li [class.active]="viewMode === 'map'">
                <a (click)="viewMode = 'map'">Map  View</a>
            </li>
            <li [class.active]="viewMode === 'list'">
                <a (click)="viewMode = 'list'">List View</a>
            </li>
        </ul>
        <div [ngSwitch]="viewMode">
            <div *ngSwitchCase="'map'">Map view content</div>
            <div *ngSwitchCase="'list'">List view content</div>
            <div *ngSwitchDefault>Otherwise</div>
        </div>
    </section>

    <section>
        <h2>Section 6 Lecture 68: *ngFor & Change Detection</h2>
        <p>We can manipulate item in array iterated by *ngFor</p>
        <ul>
            <li class="item" *ngFor="let course of courses; index as i">
                <span class="item__name">{{ course.name }}</span>
                <div class="item__btn">
                    <button class="btn btn-danger" (click)="onRemove(course)">Remove</button>
                    <button class="btn btn-default" (click)="onEdit(course)">Rename</button>
                </div>
            </li>
        </ul>
        <button class="btn btn-primary" (click)="onAdd()">Add</button>
    </section>

    <section>
        <h2>Section 6 Lecture 69: *ngFor & trackBy</h2>
        <p>Boost performance when loading huge list.</p>
        <button class="btn btn-primary" (click)="loadCourses()">Load Courses</button>
        <ul>
            <li *ngFor="let course of courseslists; trackBy: trackCourse">
                {{course.name}}
            </li>
        </ul>
    </section>

    <section>
        <h2>Section 6 Lecture 71: ngClass</h2>
        <p>Use <code>[ngClass]</code> to simplify whether to attach class or remove them.</p>
        <span class="glyphicon" [ngClass]="{
            'glyphicon-star': isSelected,
            'glyphicon-star-empty': !isSelected
          }" (click)="onClick()">
    </span>
    </section>

    <section>
        <h2>Section 6 Lecture 72: ngStyle</h2>
        <p>Apply direct styling to element depend on logic using <code>ngStyle</code></p>
        <button class="btn" (click)="canSave = !canSave" [ngStyle]="{
        'backgroundColor': canSave ? 'blue' : 'grey',
        'color': canSave ? 'white' : 'black'
      }">Save</button>
    </section>

    <section>
        <h2>Section 6 Lecture 73: Safe Traversal Operator</h2>
        <p>
            If you inspect the code, there is empty span hanging below, because we evaluate whether the value is valid to be display or not using <code>?</code> operator
        </p>
        <span>{{task.assignee?.name}}</span>

    </section>

    <section>
        <h2>Section 6 Lecture 74: Custom Directives</h2>
        <p>Let's create our own directive!</p>

        <label for="uppercase">
      <input
        type="radio"
        name="format"
        id="uppercase"
        [value]="'uppercase'"
        [(ngModel)]="inputFormat">
      Uppercase
    </label>
        <label for="lowercase">
      <input
        type="radio"
        name="format"
        id="lowercase"
        [value]="'lowercase'"
        [(ngModel)]="inputFormat">
      Lowercase
    </label>

        <input type="text" class="form-control" [appInputFormat]="inputFormat">

    </section>

    <section>
        <h2>Assignment 5: Zippy Component</h2>

        <zippy title="Shipping Details">
            Shipping Details Content
        </zippy>
        <zippy title="Billing Details">
            Billing Details Content
        </zippy>

    </section>
</div>