<div class="container">
    <h2 class="section__title">Section 5: Building Reusable Components</h2>
    <p>
        In this section we gonna learn how to build reusable component by using its API
    </p>
    <ol>
        <li *ngFor="let list of lists">{{ list | titleCase }}</li>
    </ol>

    <hr>

    <section>
        <h2>Section 5 Lecture 52: Component API</h2>
        <p>
          We have to use <code>@Input</code> and <code>@Output</code> to enable component have custom attribut and communicate with others.
        </p>
    </section>

    <section>
        <h2>Section 5 Lecture 60: View Encapsulation</h2>
        <p>There are several type of view encapsulation in Angular </p>
        <ol>
          <li>Emulated</li>
          <li>Native</li>
          <li>Null</li>
        </ol>
    </section>

    <section>
        <h2>Section 5 Lecture 61: ngContent</h2>

        <bootstrap-panel>
          <ng-container class="heading">Heading</ng-container>
          <div class="body">
            <h2>Body</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur natus dolorum ullam totam explicabo minus quas fuga unde labore cumque, illum officia, quo a iste sequi, enim tempora quis vero!</p>
          </div>
        </bootstrap-panel>
    </section>

    <section>
        <h2>Assignment 4: Like Component</h2>
        <like [likesCount]="30" [isLike]="false"></like>
    </section>
</div>
