<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Angular</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngFor="let route of routes">
          <a routerLink="{{route.link}}">{{route.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
