.followers__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.followers__list-item {
  display: flex;
  padding: 16px 0;
  flex: 0 1 33%;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-right: 16px;
}
