<ul class="followers__list">
  <li class="followers__list-item" *ngFor="let follower of followers">
    <img
      class="avatar"
      src="{{ follower.avatar_url }}"
      alt="{{ follower.login }}">
    <div class="detail">
      <h4>
        <a [routerLink]="['/followers', follower.id, follower.login]">{{ follower.login }}</a>
      </h4>
      <a href="{{ follower.html_url }}">{{ follower.html_url }}</a>
    </div>
  </li>
</ul>
