<form [formGroup]="passwordForm">
  <div class="form-group">
    <label for="old-password">Old Password</label>
    <input formControlName="oldPassword" type="password" class="form-control">
    <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
      <p *ngIf="oldPassword.errors.required">Old password is required.</p>
      <p *ngIf="oldPassword.errors.invalidOldPassword">Invalid old password.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="new-password">New Password</label>
    <input formControlName="newPassword" type="password" class="form-control">
    <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
      <p *ngIf="newPassword.errors.required">New password is required.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="confirm-password">Confirm Password</label>
    <input formControlName="confirmPassword" type="password" class="form-control">
    <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
      <p>Confirm password is required.</p>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="confirmPassword.valid && passwordForm.invalid && passwordForm.errors.passwordDidNotMatch">
    <p>Password should match.</p>
  </div>
  <button class="btn btn-primary">Change Password</button>
</form>
