<form #f="ngForm">
  <div class="form-group">
    <label for="">Course Name</label>
    <input ngModel required minlength="3" name="courseName" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Category</label>
    <select name="courseCategory" id="courseCategory" class="form-control" ngModel required>
      <option value="">Select this course category</option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
  </div>
  <div class="checkbox">
    <label for="isGuaranteed">
      <input id="isGuaranteed" type="checkbox" ngModel name="isGuaranteed">
      30-day money-back guarantee
    </label>
  </div>
  <p>
    {{ f.value | json }}
  </p>
  <button class="btn btn-primary" [disabled]="f.invalid" >Create</button>
</form>
