<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
            required
            minlength="3"
            maxlength="10"
            pattern="banana"
            ngModel
            name="firstName"
            #firstName="ngModel"
            (change)="log(firstName)"
            type="text"
            id="firstName"
            class="form-control">
            <div
                class="alert alert-danger"
                *ngIf="firstName.touched && firstName.invalid">
              <p *ngIf="firstName.errors.required">First Name is required.</p>
              <p *ngIf="firstName.errors.minlength">
                The minimum characters should be {{ firstName.errors.minlength.requiredLength }} characters.
                </p>
                <p *ngIf="firstName.errors.pattern">
                  Didn't match the pattern.
                </p>
            </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea name="comment"
              id="comment"
              ngModel
              cols="30"
              rows="10"
              class="form-control">
    </textarea>
  </div>
  <div class="checkbox">
    <label for="isSubscribed">
      <input id="isSubscribed" type="checkbox" ngModel name="isSubscribed">
      Subscribe to mailing list.
    </label>
  </div>
  <div class="form-group">
    <label for="contactMethod">How do you want to contact us?</label>
    <select name="contactMethod" id="contactMethod" multiple ngModel class="form-control">
      <option value=""></option>
      <option *ngFor="let method of methods" [value]="method.id">{{ method.name }}</option>
    </select>
  </div>

  <div class="radio" *ngFor="let method of methods">
    <label>
      <input type="radio" name="contactMethod" ngModel [value]="method.id">
      {{ method.name }}
    </label>
  </div>

  <p>
    {{ f.value | json }}
  </p>
  <button class="btn btn-primary" [disabled]="f.invalid">Submit</button>
</form>
