<div class="container">
  <section>
    <h2 class="section__title">Section 10: Routing and Navigation</h2>
    <ol>
        <li *ngFor="let list of lists">{{ list | titleCase }}</li>
    </ol>
  </section>
</div>
