<form class="signup" [formGroup]="form" (ngSubmit)="signup()">
  <div *ngIf="form.errors" class="alert alert-danger">
    The username or password is invalid.
  </div>
  <div formGroupName="account">
    <div class="form-group">
      <label for="username">Username</label>
      <input
          formControlName="username"
          id="username"
          type="text"
          class="form-control">
          <div *ngIf="username.pending">
            <i class="glyphicon glyphicon-refresh"></i>
            <span>
              Checking username...
            </span>
          </div>
          <div *ngIf="username.touched && username.invalid"
              class="alert alert-danger">
            <p *ngIf="username.errors.required">Username is required.</p>
            <p *ngIf="username.errors.minlength">
              Minimum length is {{ username.errors.minlength.requiredLength }} characters
            </p>
            <p *ngIf="username.errors.noSpaceAllowed">Space are not allowed.</p>
            <p *ngIf="username.errors.shouldBeUnique">Username already taken.</p>
          </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
          formControlName="password"
          id="password"
          type="password"
          class="form-control">
    </div>
  </div>
<button class="btn btn-primary" type="submit">Sign Up</button>
</form>
