<div class="container">
  <h2 class="section__title">Section 4: Displaying Data and Handling Events</h2>
  <p>
    In this section we gonna learn a lot of binding, so we can display data in view template:
  </p>
  <ol>
    <li *ngFor="let list of lists">{{ list | titleCase }}</li>
  </ol>

  <hr>

  <section>
    <h2>Section 4 Lecture 40: Property Binding</h2>
    <p>Bind <code>src</code> of image property to variable.</p>
    <img [src]="imageUrl" />
  </section>

  <section>
    <h2>Section 4 Lecture 41: Attribute Binding</h2>
    <table class="table table-bordered">
        <tr>
            <td [attr.colspan]="colSpan">
              Binding <code>attribute</code> of <code>colspan</code> to <code>td</code>
            </td>
            <td>
              This is another column.
            </td>
        </tr>
    </table>
  </section>

  <section>
    <h2>Section 4 Lecture 43: Class Binding</h2>
    <p>
      Toggle <code>isLarge</code> variable:
      <input type="checkbox" [(ngModel)]="isLarge" (click)="isLarge = !isLarge" />
    </p>
    <button class="btn btn-primary" [class.btn-lg]="isLarge">Save</button>
  </section>

  <section>
    <h2>Section 4 Lecture 44: Style Binding</h2>
    <p>
        Toggle <code>isDanger</code> variable:
        <input type="checkbox" [(ngModel)]="isDanger" (click)="isDanger = !isDanger"/>
      </p>
    <button class="btn"
      [style.backgroundColor]="isDanger ? 'crimson' : 'cornflowerblue'"
      [style.color]="isDanger ? 'white' : 'black'">
      Save
    </button>
  </section>

  <section>
    <h2>Section 4 Lecture 45: Event Binding</h2>
    <p>
      Stop event bubbling. This button will log message in console if clicked.
    </p>
    <div (click)="onDivClick()">
      <button class="btn btn-default" (click)="onSave($event)">Save Event</button>
    </div>
  </section>

  <section>
    <h2>Section 4 Lecture 46: Event Filtering</h2>
    <p>
      Filter an event with <code>keyup</code> object. Input below will log message in console if Enter key is pressed.
    </p>
    <div style="width: 20%">
      <input class="form-control" (keyup.enter)="onKeyUp()" />
    </div>
  </section>

  <section>
    <h2>Section 4 Lecture 47: Template Variable</h2>
    <p>
      There is another way to get value from input field using template variable. Input below will pass the variable to method and log it in console.
    </p>
    <div style="width: 20%">
      <input class="form-control" #email (keyup.enter)="onEmailEnter(email.value)" />
    </div>
  </section>

  <section>
    <h2>Section 4 Lecture 48: Two-Way Binding</h2>
    <p>
      We shouldnt pass parameter around, it is called procedural programming. So we use two way binding, from component to view and vice versa.
      So, each time we change value and press Enter in input below, we will see the value change inside console.
    </p>
    <div style="width: 20%; display: inline-block;">
      <label>Using <code>ngModel</code> to use 2 way data binding</label>
      <input
        class="form-control"
        [(ngModel)]="email2"
        (keyup.enter)="onChangeEmail()" />
    </div>
    <div style="width: 20%; display: inline-block;">
      <label>Using <code>$event</code> for 2 way data binding</label>
      <input
      class="form-control"
      [value]="email3"
      (keyup.enter)="email3 = $event.target.value; onEmailKeyUp()">
    </div>
  </section>

  <section>
    <h2>Section 4 Lecture 49: Pipes</h2>
    <p>Angular has built in pipes to use, below is some example:</p>
    <p>
      <strong>UPPERCASE & lowercase:</strong>
      {{ course.title | uppercase | lowercase }}
    </p>
    <p>
      <strong>Number:</strong>
      {{ course.students | number }}
    </p>
    <p>
      <strong>Decimal:</strong>
      {{ course.rating | number:'1.2-2' }}
    </p>
    <p>
      <strong>Currency:</strong>
      {{ course.price | currency:'USD':true:'3.2' }}
    </p>
    <p>
      <strong>Date:</strong>
      {{ course.releaseDate | date:'mediumDate' }}
    </p>
  </section>

  <section>
    <h2>Section 4 Lecture 50: Custom Pipes</h2>
    <p>
      The text below has <code>summary</code> pipe applied, and it is supplies 100 character limit as arguments.
    </p>
    <p>{{ longText | summary:100 }}</p>
  </section>

  <section>
      <h2>Assignment 2: Favorite Component</h2>
      <favorite></favorite>
  </section>

  <section>
      <h2>Assignment 3: Title Casing</h2>
      <title-case></title-case>
  </section>


</div>
