<div class="container">
  <h2 class="section__title">Section 1: Getting Started</h2>
  <p>In this section, we are gonna learn about:</p>
  <ol>
    <li *ngFor="let list of lists">{{ list | titleCase }}</li>
  </ol>
<!--   <favorite
    [isFavorite]="post.isFavorite"
    (change)="onFavoriteChanged($event)"></favorite>

  <like
    [likesCount]="tweet.likesCount"
    [isLike]="tweet.isLike"
  ></like> -->

</div>
