/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
.container {
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    padding: 2em;
    margin: 2em auto;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}

.section__title {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 1em;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 0.5em;
}

section:not(:last-child) {
    margin-bottom: 3rem;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 3rem;
}