<div class="favorite container">
  <h2>Favorite component</h2>
  <hr>
  <p>Learn how input and output working.</p>
  <span class="glyphicon"
        [class.glyphicon-star]="isFavorite"
        [class.glyphicon-star-empty]="!isFavorite"
        (click)="onClick()"></span>
</div>
