<div class="section-3">
  <h2>Section 3 Lecturer 32</h2>
  <p>My first component.</p>

  <h2>Section 3 Lecturer 35</h2>
  <p>
    Directives to manipulate DOM element.
  </p>

  <p>List of courses</p>
  <ul>
    <li *ngFor="let course of courses">{{ course }}</li>
  </ul>
</div>
