<div class="container">
  <h2 class="section__title">Section 3: Angular Fundamentals</h2>
  <ol>
    <li *ngFor="let list of lists">{{ list | titleCase }}</li>
  </ol>

  <hr>

  <courses></courses>

  <hr>

  <h3>Assignment 1: List of Authors</h3>
  <authors></authors>
</div>
