<div class="container">
    <section>
        <h2 class="section__title">Section 7: Template-driven Forms</h2>
        <p>
            In this section we gonna learn how to build form
        </p>
        <ol>
            <li *ngFor="let list of lists">{{ list | titleCase }}</li>
        </ol>
    </section>

    <section>
        <h2></h2>
        <contact-form></contact-form>
    </section>

    <section>
        <courses-form></courses-form>
    </section>
</div>